<p class="pull-right" ng-show="user.loggedIn">Welcome <b>{{user.firstname}}</b>!</p>
<div style="height:20px"></div>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="col-sm-5"></span> Register</h1>

    <!-- show any messages that come back with authentication -->
    <!-- <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %> -->

    <!-- LOGIN FORM -->
    <form ng-submit="registerUser()">
        <div class="form-group">
            <label>First Name</label>
            <input ng-model="firstname" type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input ng-model="email" type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input ng-model="password" type="password" class="form-control">
        </div>
        <div class="form-group">
            <label>Connect Database <span><a href="/needhelp"> (Need Help?)</a><span></label>
            <input ng-model="databse" type="text" class="form-control">
        </div>
        <input type="submit" class="btn btn-primary btn-lg" value="Register"/>
        <a href="/login" style="margin-right:20px; margin-top:25px" class="pull-right">Already Registered?</a>
    </form>


</div>
</div>

<!-- <div class="col-md-4">
  <h1>Login</h2>
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <form class="form" ng-submit="login()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
    </div>
    <div class="form-group">
      <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
      </div>
      <div>
        <button type="submit" class="btn btn-default" ng-disabled="disabled">Login</button>
      </div>
  </form>
</div> -->
