<nav class="navbar navbar-default">
  <div>
    <ul class="nav navbar-nav pull-left">
      <li><a href="/" class="navbar-logo"><img style="width:40%; margin-left:30px" src="./assets/davachi.png"></a></li>
      <li><p style="color:white; margin-top:20px" ng-show="user.loggedIn">Welcome <b>{{user.firstname}}</b>!</p></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li><a ui-sref="home">PubMed</a></li>
      <li><a ui-sref="myjournals.recent">My Journals</a></li>
      <li><a ui-sref="database.recent" >Database</a></li>
      <li style="margin-right:20px"><a ui-sref="login" >Login</a></li>
    </ul>
  </div>
</nav>
