<a href="#/" class="btn btn-danger" style="margin-right:20px">Back</a>
Results for search: <b>{{search}}</b>
<hr />
<div ng-repeat="article in articles">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" style="text-decoration:none" class="">
        <h4>
          <span>
            <button type="button" class="btn btn-sm btn-success" style="margin-right:20px">{{article.year}}</button>
          </span>
          <span>
            <button type="button" class="btn btn-sm btn-warning pull-right" ng-class="loggedIn ? 'not-disabled' : 'disabled'"><span class="glyphicon glyphicon-envelope"></span></button>
            <button type="button" onClick="window.open('http://www.ncbi.nlm.nih.gov/pubmed/');" class="btn btn-sm btn-warning pull-right" style="margin-right:10px"><span class="glyphicon glyphicon-link"></span></button>
          </span>
          <div style="margin-top:15px; max-width:100%">
            {{article.title}}
          </div>
        </h4>
      </a>
    </div>
    <div class="panel-body">
      {{article.authorsFormatted }}. <b><i> {{article.source}}</i></b>
    </div>
      <div class="panel-body">
        <div ng-show="showAbstract">
            {{article.abstract}}
            
        </div>
        <button type="button" class="btn btn-sm btn-info" ng-click="showAbstract = !showAbstract">
          <a style="color:white; text-decoration:none"><span class="glyphicon" ng-class="showAbstract ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></span> Abstract</a>
        </button>
      </div>
  </div>
</div>

<center>
  <button type="button" class="btn btn-xl btn-info" ng-click="loadMore(articles)">
    <a style="color:white; text-decoration:none" href="#/search"><span class="glyphicon glyphicon-chevron-down"></span> {{articles.length>articles.searchResults ? "That's all folks" : "Load More"}}</a>
  </button>
</center>

<div style="height:50px" >
</div>

<style>


.panel-heading:hover {
  background-color: lightgray !important;
}

</style>
